/*Email Preferences Start*/

.w-80 {
	width: 80px;
}

.email-title h3 {
	font-size: 22px;
}

.privacy-right.email {
	padding: 50px 0 40px 80px;
}

.privacy-right.email p {
	border-bottom: 1px solid #f3f3f3;
	max-width: 581px;
}

.privacy-right.email .table td,
.table th {
	/* padding: 0.47rem 0.1rem; */
	line-height: 5px;
}

.privacy-right.email .custom-control-inline {
	display: -webkit-inline-box;
	display: -ms-inline-flexbox;
	display: inline-flex;
	margin-right: 0rem;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
	background-color: transparent;
}

.checkbox-heading span {
	font-size: 15px;
}

.email-no {
	position: relative;
	left: -4px;
}

.email-checkbox hr {
	margin-top: 1rem;
	margin-bottom: 1.4rem;
	border: 0;
	border-top: 1px solid rgba(0, 0, 0, 0.1);
	max-width: 589px;
	margin-left: 0px;
}

.email-checkbox .table thead th {
	vertical-align: bottom;
	border-bottom: 0px;
}

.borderless td,
.borderless th {
	border: none !important;
}

.table-responsive .table.table-sm.borderless h6 {
	font-family: "Myriad Web Pro";
	color: #231f20;
}

.w-80.table-secon {
	position: relative;
	/* left: 48px; */
}

@media (min-height: 768px) and (max-width: 991px) {
	.privacy-right.email {
		padding: 50px 0 40px 12px;
	}
}

.info-menu-left .nav-item.active .nav-link {
	background: #dededd;
}

.info-menu-left .nav-item {
	margin: 1px 0px;
}

h2.title {
	font-size: 29px;
}

@media (max-width: 767px) {
	.privacy-right.email {
		padding: 50px 0 40px 12px;
	}
	.pr-4,
	.px-4 {
		padding-right: 1.1rem !important;
	}
	span.pr-30 {
		padding-right: 23px;
	}
	.navbar2.active {
		min-width: 280px !important;
		left: 0;
		top: 71px;
		margin-top: 0;
	}
	.navbar2 .nav-item:first-child {
		margin: 0px;
	}
	.navbar2 .nav-item:nth-child(2) {
		margin-top: 0px;
	}
	.sidebar {
		margin-top: 20px !important;
	}
	.my-mt {
		margin-top: 0px !important;
	}
}

.table-striped tbody tr:nth-of-type(2n + 1) {
	background-color: #f1f3fa;
}

/*Email Preferences End*/

.notif .form-group input {
	padding: 0;
	height: initial;
	width: initial;
	margin-bottom: 0;
	display: none;
	cursor: pointer;
}

.notif label {
	position: relative;
	cursor: pointer;
	color: #b2afaf;
	font-size: 17px;
}

.notif label:before {
	content: "";
	-webkit-appearance: none;
	background-color: transparent;
	border: 2px solid #dfdeda;
	padding: 9px;
	display: inline-block;
	position: relative;
	vertical-align: middle;
	cursor: pointer;
	margin-right: 0;
}

.notif .form-group input:checked + label:after {
	content: "";
	display: block;
	position: absolute;
	top: 9px;
	left: 9px;
	width: 6px;
	height: 10px;
	border: solid #0079bf;
	border-width: 0 2px 2px 0;
	transform: rotate(45deg);
}

.mt-m {
	top: 6px;
}

.mt-m2 {
	top: 11px;
}

#inlineFormInputGroup {
	background: #f6f6f8;
}

[type="radio"]:checked,
[type="radio"]:not(:checked) {
	position: absolute;
	left: -9999px;
}

[type="radio"]:checked + label,
[type="radio"]:not(:checked) + label {
	cursor: pointer;
}

[type="radio"]:checked + label:before,
[type="radio"]:not(:checked) + label:before {
	content: "";
	position: absolute;
	left: 0;
	top: 0;
	width: 20px;
	height: 20px;
	border: 1px solid #b1b6c7;
	border-radius: 50%;
	background: #fff;
}

[type="radio"]:checked + label:after,
[type="radio"]:not(:checked) + label:after {
	content: "";
	width: 12px;
	height: 12px;
	background: #b34a26;
	position: absolute;
	top: 4px;
	left: 4px;
	border-radius: 100%;
	-webkit-transition: all 0.2s ease;
	transition: all 0.2s ease;
}

[type="radio"]:not(:checked) + label:after {
	opacity: 0;
}

[type="radio"]:checked + label:after {
	opacity: 1;
}

.custom-radio .custom-control-input:checked ~ .custom-control-label::after {
	background-image: none;
}

.search-bar-2 {
	width: 100%;
	top: 0;
	left: 0;
	padding: 0;
	border: 0;
}

.search-bar-2 .form-inline {
	position: relative;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

.search-bar-2 .form-inline .form-control {
	width: 100%;
	padding: 15px;
	margin: 15px;
}

.search-bar-2 .form-inline .btn {
	position: absolute;
	right: 30px;
	padding: 0;
	border: 0;
	background: transparent;
	font-size: 25px;
	top: 27px;
}

.my-mt {
	margin-top: 80px;
}

/*sticky START CSS*/

header.sticky {
	position: fixed;
	z-index: 999;
	-webkit-animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	animation: 500ms ease-in-out 0s normal none 1 running fadeInDown;
	width: 100%;
	top: 0;
	-webkit-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	-moz-box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
	box-shadow: 0 8px 20px 0 rgba(0, 0, 0, 0.1);
}

.nav-item.active a {
	background: #dededd;
}

.grid-left-full {
	padding-left: 24px !important;
}

.w-80.table-secon {
	line-height: 24px;
	height: 20px;
}
.grid-email-table tr th:nth-of-type(1) {
	width: 800px;
	padding-left: 0;
}
